<div id="material" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">焊接标准查询</span>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab ng-repeat="col in vm.DashboardData" label="焊接标准">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h2">{{col.title}}</div>
                                    <div class="text-boxed red-bg white-fg m-0">{{col.table.rows.length}}
                                        条数据
                                    </div>
                                </div>


                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.widget11.dtOptions">
                                    <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">标准名称</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">阅读</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">下载</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in col.table.rows">
                                        <td>
                                                <span>
                                                    <div style="font-style: italic; font-size: smaller;" ng-if="row.level != '1'" ><span ng-repeat="father in row['father']">{{father}} > </span></div>
                                                    <span style="font-size: medium">{{row['name']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised" target="_blank" ng-href="http://localhost:8081/pdfjs/viewer.html?name={{row['url']}}">在线阅读</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <md-button class="md-raised" target="_blank" ng-href="{{row['url']}}">立即下载</md-button>
                                                </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
