<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form name="basicForm" class="md-inline-form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>修改信息</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
        <div layout="column" layout-gt-sm="row">
            <md-input-container flex="20">
                <label>编号无法修改：{{row.id}}</label>
            </md-input-container>
            <md-input-container flex>
                <input type="text" name="username" ng-model="row.name"
                       placeholder="标准名"
                       required>
                <div ng-messages="basicForm.username.$error"
                     role="alert">
                    <div ng-message="required">
                        <span>请填写标准名</span>
                    </div>
                </div>
            </md-input-container>
        </div>

        <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
                <input type="text" name="usage" ng-model="row.usage"
                       placeholder="用途">
            </md-input-container>
            <md-input-container flex>
                <input type="text" name="source" ng-model="row.source"
                       placeholder="来源">
            </md-input-container>
            <md-input-container flex>
                <input type="text" name="year" ng-model="row.year"
                       placeholder="年份">
            </md-input-container>
        </div>

        <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
                <input type="text" name="fatherid" ng-model="row.fatherid"
                       placeholder="父节点序号（不填则为顶级节点）">
            </md-input-container>
            <md-input-container flex>
                <span aria-label="choosefile">选择文件(不改则不选)：</span>
                <input type="file" ng-model="row.file" aria-label="filechooser">
            </md-input-container>
        </div>

        <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                   ng-disabled="basicForm.$invalid || basicForm.$pristine"
                    ng-click="row.confirmModify()">
            提交
        </md-button>
        </md-dialog-content>
    </form>


</md-dialog>