<div id="settings" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">系统管理</span>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab label="焊接标准">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h2">{{vm.standard.title}}</div>
                                    <div class="text-boxed red-bg white-fg m-0">{{vm.standard.table.rows.length}}
                                        条数据
                                    </div>
                                </div>


                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.standard.dtOptions">
                                    <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">#序号</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">标准名称</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">用途</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">来源</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">年份</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">阅读</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">下载</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">修改</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">删除</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in vm.standard.table.rows">
                                        <td>
                                                <span>
                                                    <span style="font-size: medium">{{row['id']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <div style="font-style: italic; font-size: smaller;" ng-if="row.level != '1'" ><span ng-repeat="father in row['father']">{{father}} > </span></div>
                                                    <span style="font-size: medium">{{row['name']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <span style="font-size: medium">{{row['usage']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <span style="font-size: medium">{{row['source']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <span style="font-size: medium">{{row['year']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised" target="_blank" ng-href="http://localhost:8081/pdfjs/viewer.html?name={{row['url']}}">在线阅读</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <md-button class="md-raised" target="_blank" ng-href="{{row['url']}}">立即下载</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised md-primary" ng-click="vm.standard.modify($event,row)">修改</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised md-warn" ng-click="vm.standard.delete($event,row)">删除</md-button>
                                                </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="60">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div layout="row">

                                    <!-- BASIC FORM -->
                                    <div class="form-wrapper md-whiteframe-1dp" flex="100" center>

                                        <form name="basicForm" class="md-inline-form" novalidate>

                                            <div class="form-title">添加新的焊接标准</div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex="20">
                                                    <label>序号自动生成</label>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <input type="text" name="username" ng-model="vm.standard.add.username"
                                                           placeholder="标准名"
                                                           required>
                                                    <div ng-messages="basicForm.username.$error"
                                                         role="alert">
                                                        <div ng-message="required">
                                                            <span>请填写标准名</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex>
                                                    <input type="text" name="usage" ng-model="vm.standard.add.usage"
                                                           placeholder="用途">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <input type="text" name="source" ng-model="vm.standard.add.source"
                                                           placeholder="来源">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <input type="text" name="year" ng-model="vm.standard.add.year"
                                                           placeholder="年份">
                                                </md-input-container>
                                            </div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex>
                                                    <input type="text" name="fatherid" ng-model="vm.other.add.fatherid"
                                                           placeholder="父节点序号（不填则为顶级节点）">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <span aria-label="choosefile">选择文件：</span>
                                                    <input type="file" ng-model="vm.standard.add.file" aria-label="filechooser">
                                                </md-input-container>
                                            </div>

                                            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                                                       ng-disabled="basicForm.$invalid || basicForm.$pristine">
                                                提交
                                            </md-button>
                                        </form>

                                    </div>
                                    <!-- / BASIC FORM -->

                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab ng-repeat="col in vm.allData" label="{{col.title}}">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">

                                <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                    <div class="h2">{{col.title}}</div>
                                    <div class="text-boxed red-bg white-fg m-0">{{col.table.rows.length}}
                                        条数据
                                    </div>
                                </div>


                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.other.dtOptions">
                                    <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">#序号</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">标准名称</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">阅读</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">下载</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">修改</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">删除</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in col.table.rows">
                                        <td>
                                                <span>
                                                    <span style="font-size: medium">{{row['id']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <div style="font-style: italic; font-size: smaller;" ng-if="row.level != '1'" ><span ng-repeat="father in row['father']">{{father}} > </span></div>
                                                    <span style="font-size: medium">{{row['name']}}</span>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised" target="_blank" ng-href="http://localhost:8081/pdfjs/viewer.html?name={{row['url']}}">在线阅读</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                    <md-button class="md-raised" target="_blank" ng-href="{{row['url']}}">立即下载</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised md-primary" ng-click="vm.other.modify($event,row)">修改</md-button>
                                                </span>
                                        </td>
                                        <td>
                                                <span>
                                                        <md-button class="md-raised md-warn" ng-click="vm.other.delete($event,row)">删除</md-button>
                                                </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="60">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div layout="row">

                                    <!-- BASIC FORM -->
                                    <div class="form-wrapper md-whiteframe-1dp" flex="100" center>

                                        <form name="OtherForm" class="md-inline-form" novalidate>

                                            <div class="form-title">添加新的{{col.title}}</div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex="20">
                                                    <label>序号自动生成</label>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <input type="text" name="username" ng-model="vm.other.add.username"
                                                           placeholder="标准名"
                                                           required>
                                                    <div ng-messages="OtherForm.username.$error"
                                                         role="alert">
                                                        <div ng-message="required">
                                                            <span>请填写标准名</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex>
                                                    <input type="text" name="fatherid" ng-model="vm.other.add.fatherid"
                                                           placeholder="父节点序号（不填则为顶级节点）">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <span aria-label="choosefile">选择文件：</span>
                                                    <input type="file" ng-model="vm.other.add.file" aria-label="filechooser">
                                                </md-input-container>
                                            </div>

                                            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                                                       ng-disabled="basicForm.$invalid || basicForm.$pristine">
                                                提交
                                            </md-button>
                                        </form>

                                    </div>
                                    <!-- / BASIC FORM -->

                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="资料修改">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget layout="row" flex="60">

                            <!-- Front -->
                            <ms-widget-front class="white-bg">
                                <div layout="row">

                                    <!-- BASIC FORM -->
                                    <div class="form-wrapper md-whiteframe-1dp" flex="100" center>

                                        <form name="basicForm" class="md-inline-form" novalidate>

                                            <div class="form-title">修改您的个人资料</div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex>
                                                    <input type="text" name="username" ng-model="vm.basicForm.username"
                                                           placeholder="用户名"
                                                           required>
                                                    <div ng-messages="basicForm.username.$error"
                                                         role="alert">
                                                        <div ng-message="required">
                                                            <span>请填写用户名</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex>
                                                    <input type="text" name="oldpass" ng-model="vm.basicForm.oldpass"
                                                           placeholder="旧密码"
                                                           required>
                                                    <div ng-messages="basicForm.oldpass.$error"
                                                         role="alert">
                                                        <div ng-message="required">
                                                            <span>请填写旧密码</span>
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout="column" layout-gt-sm="row">
                                                <md-input-container flex>
                                                    <input type="text" name="newpass" ng-model="vm.basicForm.newpass"
                                                           placeholder="新密码（留空不修改）">
                                                </md-input-container>
                                            </div>

                                            <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                                                       ng-disabled="basicForm.$invalid || basicForm.$pristine">
                                                提交
                                            </md-button>
                                        </form>

                                    </div>
                                    <!-- / BASIC FORM -->

                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
